
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(document).ready(function() {
			 $("#process_input").on('click', function() {
					 $.ajax({
							 url: "/",
							 method: "POST",
							 data: {'number': $('input[id="number"].form-number').val()}
							 contentType: 'application/json',
							 success: function(data) {


									 alert("done")
									 document.getElementById("number_result").innerHTML = data.number_result;
							 },
							 error: function(xhr) {
									 console.log(xhr);
							 }
					 });
			 });
	 });










				});
				return false;
			  });
			});
		</script>
	</head>


{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block content %}
<div class="tap">

	<form class="form-number" method="POST" action="#">
		<p> {{number_result}} </p>
		<p> {{name}} </p>
		<p> {{date}} </p>
	    {{ form.hidden_tag() }}
	    <h1{{ wtf.form_field(form.number, width="25%") }}</h1>

		<button class="btn btn-lg btn-primary btn-block" id="process_input" type="submit">Submit</button>
			
	</form>

</div>
{% endblock %}
